@import "tailwindcss";
@utility container{
  @apply mx-auto px-4
}
@layer components{
  .input-numor{
    @apply bg-gray-100 px-6 py-3 bg-white rounded-xl 
          shadow-[6px_6px_12px_#d6d6d6,_-6px_-6px_12px_#ffffff] focus:shadow-[inset_6px_6px_12px_#d6d6d6,_inset_-6px_-6px_12px_#ffffff]
         focus:outline-none transition text-lg md:text-xl w-full md:w-[70%];
  }
  .btn-numor{
    @apply bg-gray-100 px-6 py-3 bg-white rounded-xl shadow-[6px_6px_12px_#d6d6d6,_-6px_-6px_12px_#ffffff] active:shadow-[inset_6px_6px_12px_#d6d6d6,_inset_-6px_-6px_12px_#ffffff] transition text-lg md:text-xl font-bold;
  }
  .navBox{
    @apply flex justify-center items-center p-4 rounded-3xl flex-col shadow-[6px_6px_12px_#e0e0e0,-6px_-6px_12px_#ffffff] 
        active:shadow-[inset_6px_6px_12px_#d6d6d6,_inset_-6px_-6px_12px_#ffffff] transition;
  }
}